header{
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    
  }
  header ul li{
    color: var(--secondaryColor);
    
  }
  
  .headerContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
  }
  
  nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  nav ul li{
    margin-left: 30px;
    font-size: 14px;
    cursor: pointer;
  }

  .notification{
    position: relative;
  }
  .dot:after{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.74);
    margin-bottom: 08px;
  }
  .notification .show{
    display: block
  }

  .notification .hide{
    display:  none;
  }
  .notificationPopup{
    position: absolute;
    top: 30px;
    right: 10px;
    transform: translateX(50%);
    padding: 10px 10px;
    width: 300px;
    background-color: var(--whiteColor);
  }


  .notificationPopup ul{
    display: block;
    
  }
  .notificationPopup ul li{
    color: var(--tertiaryColor);
    font-size: 12px;
    margin-bottom: 20px;
  }
