*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

:root{
  --primaryColor:#009AFF;
  --secondaryColor:#F1F1E6;
  --whiteColor: #fff;
  --tertiaryColor: #232f3e;
  }
body{
  background: var(--secondaryColor);
}
.container{
width: 90%;
margin: 0 auto;
}

a{
  color:var(--primaryColor);
  text-decoration: none;
}

ul li{
  list-style: none;
}